<div class="main-container">
  <h1 class="mat-display-2 font-extrabold text-center mr-60">Tic-Tac-Toe</h1>
  <div class="field d-flex justify-content-center">
    <p class="mat-display-1" style="color: darkgreen">This Tic-Tac-Toe was build in Angular</p>
    <p class="current-status mat-display-1" style="color: darkgreen">Push the button below to start the game</p>
  </div>
    <div *ngIf="this.game.gameStatus === 0" class="field justify-self-center flex-auto" style="width: 100%">
      <button (click)="startGame()" mat-raised-button color="primary" class="start-game-button">Game Now</button>
    </div>

  <div *ngIf="this.game.gameStatus === 1" class="gameboard">
    <div class="player-one align-self-center">
      <p class="mat-body-1" style="font-weight: 500; margin: 0 0 10px 10px;">
        Player 1
      </p>
    </div>
    <div class="player-two align-self-center">
      <p class="mat-body-1" style="font-weight: 500; margin: 0 0 10px 10px;">
        Player 2
      </p>
    </div>
    <div class="gamefield container-fluid">
      <div class="auto-rows-auto">
        <div (click)="clickSubfield($event)" position="0" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="1" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="2" class="subfield col-4"></div>
      </div>
      <br>
      <div class="auto-rows-auto">
        <div (click)="clickSubfield($event)" position="3" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="4" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="5" class="subfield col-4"></div>
      </div>
      <br>
      <div class="auto-rows-auto">
        <div (click)="clickSubfield($event)" position="6" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="7" class="subfield col-4"></div>
        <div (click)="clickSubfield($event)" position="8" class="subfield col-4"></div>
      </div>
    </div>
  </div>
</div>


